
<div ng-controller="tasksCtrl">
    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <h1>משימות <small>הרשימה שלי</small></h1>
            <div class="row">
                <input type="text" class="form-control col-xs-5" placeholder="Your Task" name="task" required ng-model="task.name">
                <input type="text" class="form-control col-xs-5" placeholder="Your Description" name="description" ng-model="task.desc">  <button type="button" class="btn btn-primary col-xs-2" ng-click="addTaskToSession()">הוסף</button>
            </div>

        </div>
    </div>
        <div class="row">
            <ul class="list-unstyled col-xs-12 col-md-6" id="todo">
                <li ng-repeat="t in data" ng-init="t.update = false">
                    <span class="label label-primary text-left">{{t.name}}</span>
                    <span class="label label-default" ng-show="!t.update">{{t.desc}}</span>
                    <input ng-show="t.update" type="text" ng-model="t.desc" />
                    <a href="#" class="close" aria-hidden="true" ng-show="!t.update" ng-click="deletedTaskFromSession(t.name)"> &nbsp; מחיקה</a>
                    <a href="#" class="close" aria-hidden="true" ng-show="!t.update" ng-click="t.update = true ">עריכה</a>
                    <a href="#" class="close" aria-hidden="true" ng-show="t.update" ng-click="updateTask(t); t.update = false">שמור</a>
                </li>
            </ul>
        </div>
    </div>


    <style>
            .form-group {
                padding-bottom: 25px;
            }

        a.close {
            float: left;
            font-size: 15px
        }
    </style>
